#main {

	margin: auto;
	width: 60%;
	padding: 10px;

}

#title, #subheading {

	text-align: center;

}

#text {

	padding-top: 10px;
	width: 90%;
	margin: auto;
	text-align: center;

}

#textfield {

	width: 60%;

}

#submit {

	width: 5%;
	margin: auto;

}