#main {

	margin: auto;
	width: 60%;
	padding: 10px;

}

#title, #subheading {

	text-align: center;

}

#result-box {
	padding-top: 10px;
	margin: auto;
	width: 60%;
}

.tooltip-text {
	text-decoration: underline;
}

.tooltip-content {
	display: none;
}

.tooltip-content ul {
	padding-left: 1em;
}